*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.carousel-inner{
    height: 500px;
}


footer{
    background-color: #191919;
    color:#fff;
    padding:15px 0;
}


footer li{
    list-style: none;
    display: inline;
    
}

footer a{
    text-decoration: none;
    color:white;
    padding: 5px;
    transition: all 0.5s;
}

footer a:hover{
    color:#344CB7;
}

.resim{
    width:600px;
    height:500px;
}
